*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    text-align: center;
}
.homepage{
background-image: url(./profilephoto.png);
background-repeat: no-repeat;
color: aliceblue;
height: 300px;
width: 50%;
margin-top: 2em;
margin-bottom: 2em;
padding: 2em;
display:flexbox;
flex-direction: row;
justify-content: flex-end;
background-color: blue;
}